.service {
  &__container {
    margin-top: 6rem;
  }
  &__background {
    background: linear-gradient(137.06deg, #ffa114 20.21%, #f36e20 63.64%);
    border-radius: 0.8rem;
    padding: 2rem;
    &--logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 4.5rem;
      font-weight: bolder;
      color: var(--primary);
      img {
        width: 12rem;
        height: auto;
      }
    }
    &--content {
      display: flex;
      flex-direction: column;
      .content-link {
        &:hover,
        :active,
        :focus,
        :visited {
          color: #ecf0f1;
        }
        display: block;
        font-size: 2rem;
        line-height: 3rem;
        color: #ecf0f1;
      }
      .content-arrow {
        padding: 0;
        width: 8rem;
        margin: 2.4rem 0;
        margin-top: 1.8rem;
      }
    }
  }
  &__item {
    position: relative;
    width: 100%;
    &--content {
      position: absolute;
      left: 0;
      top: 70%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      .item-content {
        &__title {
          font-size: 2.4rem;
          font-weight: 550;
          line-height: 1.5rem;
          color: #ecf0f1;
        }
      }
    }
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
}

.content-description {
  span:nth-last-child(1),
  span:nth-last-child(2),
  span:nth-last-child(3),
  span:nth-last-child(4) {
    color: #ecf0f1;
  }
}
