.purchase {
  &__container {
    margin-top: 2.6rem;
    padding: 1.6rem 2.4rem;
    border-radius: 0.6rem;
    background-color: white;
  }
  &__price {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.875rem;
  }
}

.ant-btn.purchase-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  border-radius: 50%;
  border: medium none;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--quaternary);
  cursor: pointer;
}

.ant-btn.purchase-button.purchase-button-up {
  background-color: var(--primary);
}

.ant-btn.purchase-button.purchase-button-down {
  background-color: rgb(120, 120, 120);
}

.ant-input.purchase-quantity {
  width: 5rem;
  text-align: center;
  font-weight: bold;
}

.ant-btn-primary.purchase-button,
.ant-btn-primary.purchase-button:hover,
.ant-btn-primary.purchase-button:focus {
  width: 100%;
  height: 4.2rem;
  font-weight: 500;
  border-radius: 4px;
  color: var(--quaternary);
  background: var(--secondary);
  border-color: var(--secondary);
}

.ant-btn-primary.purchase-button span,
.ant-btn-primary.purchase-button span:hover,
.ant-btn-primary.purchase-button span:focus {
  border: none;
  background: var(--secondary);
}
