.address-card {
  &__text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25rem;
  }
  &__button.ant-btn {
    width: 8.8rem;
    padding: 0.6rem;
    border: medium none;
    border-radius: 0.4rem;
    outline: currentcolor none medium;
    cursor: pointer;
  }
  &__button {
    &--edit.ant-btn {
      color: var(--primary);
      font-weight: 550;
      background-color: rgb(229, 246, 240);
    }
    &--remove.ant-btn {
      margin-left: 1.6rem;
      font-weight: 550;
      color: rgb(110, 108, 108);
      background-color: rgb(238, 238, 238);
    }
  }
}

.address-modal.ant-modal {
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-footer {
    display: none;
  }
  min-width: 95.6rem;
}

.address-card.ant-card.ant-card-bordered {
  .ant-card-body {
    padding: 0;
  }
  border: 1px solid #888;
  height: 100%;
}
