.floating__cart {
  position: fixed;
  top: 19vh;
  right: 1rem;
  z-index: 1000;
  min-width: max-content;
  cursor: pointer;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.8rem solid var(--quaternary);
  background-color: var(--secondary);
  &__image {
    width: 2.8rem;
    height: 2.8rem;
  }
}

.homepage {
  &__title {
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(0, 82, 44);
    padding: 0.4rem 1.2rem;
    &-left {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      span {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--quaternary);
      }
    }
    &-right {
      padding-top: 4px;
      padding-bottom: 4px;
      max-width: 36rem;
    }
  }
}

.ant-input-search-enter-button {
  input {
    &:hover,
    :active,
    :focus,
    :focus-within,
    :visited,
    ::selection {
      border-color: var(--primary);
    }
    border-color: var(--primary);
  }
  border-color: none;
}

.ant-btn-primary {
  &:hover,
  :active,
  :focus,
  :focus-within,
  :visited,
  ::selection {
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
