.cart-form {
    &__container {
        margin-top: 2.6rem;
        padding: 1.6rem 2.4rem;
        border-radius: 0.6rem;
        background-color: white;
    }
    &__price {
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.875rem;
    }
}

.ant-btn.cart-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
    border-radius: 50%;
    border: medium none;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--quaternary);
    cursor: pointer;
}

.ant-btn.cart-form-button.cart-form-button-up {
    background-color: var(--primary);
}

.ant-btn.cart-form-button.cart-form-button-down {
    background-color: rgb(120, 120, 120);
}

.ant-input.cart-form-quantity {
    width: 5rem;
    text-align: center;
    font-weight: bold;
}