.ant-btn-primary.cart-item-button,
.ant-btn-primary.cart-item-button:hover,
.ant-btn-primary.cart-item-button:focus,
.ant-btn-primary.cart-item-button:active,
.ant-btn-primary.cart-item-button:focus-within,
.ant-btn-primary.cart-item-button:visited,
.ant-btn-primary.cart-item-button::selection {
  height: 4.2rem;
  border-radius: 4px;
  color: var(--quaternary);
  background: var(--secondary);
  border-color: var(--secondary);
}

.ant-btn-primary.cart-item-button span,
.ant-btn-primary.cart-item-button span:hover,
.ant-btn-primary.cart-item-button span:focus,
.ant-btn-primary.cart-item-button span:active,
.ant-btn-primary.cart-item-button span:focus-within,
.ant-btn-primary.cart-item-button span:visited,
.ant-btn-primary.cart-item-button span::selection {
  border: none;
  background: var(--secondary);
}
