.order-detail.ant-table-wrapper {
  .ant-table.ant-table-fixed-header.ant-table-scroll-horizontal {
    .ant-table-thead {
      border-radius: 0 0.4rem 0 0;
      .ant-table-cell {
        background-color: #eeeeee;
        padding: 0.8rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
    .ant-table-body {
      max-height: 50rem;
      min-height: 34.5rem;
      table {
        .ant-table-tbody {
          .ant-table-row {
            .ant-table-cell {
              padding: 0.8rem;
              text-align: center;
              font-size: 1.8rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
