.floating__cart {
    position: fixed;
    top: 19vh;
    right: 1rem;
    z-index: 1000;
    min-width: max-content;
    cursor: pointer;
}

.ant-badge.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.8rem solid var(--quaternary);
    background-color: var(--secondary);
}

.cart__image {
    width: 2.8rem;
    height: 2.8rem;
}