.account {
  &__container {
    width: 100%;
    height: 100%;
    flex: 1;
    background: linear-gradient(
      180deg,
      rgba(22, 22, 29, 0) 40.09%,
      rgba(22, 22, 29, 0.5) 58.81%
    );
    background-position: center;
    background-size: cover;
  }
  &__form {
    .account-form {
      &__container {
        width: 100%;
      }
      &__title {
        h2 {
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 3rem;
        }
      }
      &__item {
        span {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5rem;
        }
      }
    }
    padding: 3.6rem;
  }
}

.ant-col.ant-form-item-control {
  margin-top: 0.8rem;
}

.account-input {
  .ant-input:hover {
    border-color: var(--secondary);
    border-right-width: 1px !important;
  }
  .ant-input:focus,
  .ant-input-focused {
    border-color: var(--secondary);
    box-shadow: 0 0 0 2px rgba(253, 217, 217, 217);
  }
  .ant-input:active,
  .ant-input-active {
    border-color: var(--secondary);
  }
  .ant-input-affix-wrapper:hover {
    border-color: var(--secondary);
    border-right-width: 1px !important;
  }
  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused {
    border-color: var(--secondary);
    box-shadow: 0 0 0 2px rgba(253, 217, 217, 217);
  }
}

.ant-btn-primary.button-form,
.ant-btn-primary.button-form:hover,
.ant-btn-primary.button-form:focus,
.ant-btn-primary.button-form:active,
.ant-btn-primary.button-form:focus-within,
.ant-btn-primary.button-form:visited,
.ant-btn-primary.button-form::selection {
  height: 4.2rem;
  border-radius: 4px;
  color: var(--quaternary);
  background: var(--secondary);
  border-color: var(--secondary);
}

.ant-btn-primary.button-form span,
.ant-btn-primary.button-form span:hover,
.ant-btn-primary.button-form span:focus,
.ant-btn-primary.button-form span:active,
.ant-btn-primary.button-form span:focus-within,
.ant-btn-primary.button-form span:visited,
.ant-btn-primary.button-form span::selection {
  border: none;
  background: var(--secondary);
}
