.footer {
  &__container {
    width: 100%;
  }
  &__contact {
    .contact {
      &__left {
        display: flex;
        flex-direction: column;
        padding: 0.8rem 0;
        text-align: left;
        &--content {
          font-size: 1.5rem;
        }
      }
      &__right {
        display: flex;
        align-items: center;
      }
    }
    background-color: var(--tertiary);
    color: var(--quaternary);
    padding: 1rem 0;
  }
  &__information {
    padding: 4.3rem 0;
    background-color: #eeeeee;
  }
  &__about {
    padding: 3.6rem;
    &--logo {
      img {
        width: 18rem;
        max-width: 18rem;
      }
    }
    &--content {
      .content-infor {
        font-size: 1.6rem;
        font-weight: 500;
        color: #787878;
        margin: 0.3rem 0;
      }
      > span {
        display: block;
      }
    }
  }
}
