.cart-btn {
  img {
    width: 1.6rem;
  }
  &__remove {
    background-color: rgb(238, 238, 238);
  }
  &__edit {
    background-color: rgb(229, 246, 240);
  }
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
}

.cart-item-divider.ant-divider.ant-divider-horizontal {
  margin: 1rem 0;
}
