.tabs-description .ant-tabs-ink-bar {
  background: var(--secondary);
}

.tabs-description .tab-description::before {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 20rem;
  background: linear-gradient(transparent, var(--quaternary));
}

.view-more .ant-btn-primary.view-more-btn,
.view-more .ant-btn-primary.view-more-btn:hover,
.view-more .ant-btn-primary.view-more-btn:focus,
.view-more .ant-btn-primary.view-more-btn:active,
.view-more .ant-btn-primary.view-more-btn:focus-within,
.view-more .ant-btn-primary.view-more-btn:visited,
.view-more .ant-btn-primary.view-more-btn::selection {
  border-radius: 0.4rem;
  color: var(--secondary);
  background-color: rgb(255, 228, 204);
  border-color: var(--secondary);
}

.view-more .ant-btn-primary.view-more-btn span,
.view-more .ant-btn-primary.view-more-btn span:hover,
.view-more .ant-btn-primary.view-more-btn span:focus,
.view-more .ant-btn-primary.view-more-btn span:active,
.view-more .ant-btn-primary.view-more-btn span:focus-within,
.view-more .ant-btn-primary.view-more-btn span:visited,
.view-more .ant-btn-primary.view-more-btn span::selection {
  border: none;
  background-color: rgb(255, 228, 204);
}

.tabs-description
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-btn.ant-btn-default.button-tabs {
  color: var(--secondary);
  background-color: rgb(255, 228, 204);
  border-color: rgb(255, 228, 204);
}

.tabs-description .ant-btn.ant-btn-default.button-tabs {
  width: 24rem;
  height: 4.8rem;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: rgb(120, 120, 120);
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

.description > span {
  font-size: 2rem;
}

.product__description {
  display: flex;
}

.ant-table-wrapper.ingredient {
  margin: 2.4rem;
  background-color: var(--quaternary);
}

.ant-table-wrapper.ingredient .ant-table-thead,
.ant-table-wrapper.ingredient .ant-table-row {
  font-size: 1.6rem;
}
