.image-zoom {
  border-radius: 0.6rem;
  position: relative;
  cursor: crosshair;
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    border-radius: 0.6rem;
    background-repeat: no-repeat;
  }
  figure:hover img {
    opacity: 0;
  }
  img {
    display: block;
    min-width: 100%;
    height: 26.925rem;
    border-radius: 0.6rem;
    pointer-events: none;
  }
}

.product-card__discount {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  width: 4rem;
  height: 2.1rem;
  background-size: contain;
  background-image: url('/assets/images/price-tag.png');
  text-align: center;
  &--content {
    font-size: 1.4rem;
    color: var(--quaternary);
    font-weight: 600;
  }
}
