.product-card {
  &__container {
    position: relative;
    &:hover {
      border-color: var(--secondary);
    }
    width: 100%;
    height: auto;
    min-height: 307px;
    margin-top: 1.2rem;
    border: 0.2rem solid transparent;
    border-radius: 0.4rem;
    background-color: var(--quaternary);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  &__image {
    &--unlike {
      position: absolute;
      top: 1.6rem;
      right: 0.8rem;
      width: 1.6rem;
      height: 1.6rem;
    }
    &--styled {
      position: absolute;
      top: 22rem;
      right: 0px;
      z-index: 1;
      display: flex !important;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 4.8rem;
      min-height: max-content;
      width: 2.6rem;
      padding: 0.4rem;
      border: 0 none;
      border-radius: 0.6rem 0 0 0.6rem;
      background: var(--secondary) none repeat scroll 0% 0%;
      cursor: pointer;
      .add-cart {
        width: 1.4rem;
        height: 1.4rem;
      }
    }
    position: relative;
    width: 100%;
    height: 15rem;
    background-color: white;
    background-size: cover;
    background-position: center center;
  }
  &__description {
    display: flex !important;
    flex-direction: column !important;
    min-height: 12.5rem !important;
    padding: 1.2rem 1.2rem 0.8rem;
    border-radius: 0 0 0.4rem 0.4rem;
    background-color: white;
    &--name {
      overflow: hidden;
      display: -webkit-box;
      height: 4rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.128rem;
      text-transform: uppercase;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: var(--tertiary);
    }
    &--price {
      margin-left: 0.6rem;
      margin-right: 0.8rem;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
  &__discount {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 2.1rem;
    background-size: contain;
    background-image: url('/assets/images/price-tag.png');
    text-align: center;
    &--content {
      font-size: 1.4rem;
      color: var(--quaternary);
      font-weight: 600;
    }
  }
}
