.contact {
    &__wrapper {
        padding: 4rem 0;
        background-size: cover;
        background-position: center;
    }
    &__container {
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.05);
    }
}