@import '~antd/dist/antd.less';

:root {
  --primary: #00793f;
  --secondary: #eb7100;
  --tertiary: #000000;
  --quaternary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Nunito Sans' !important;
  scroll-behavior: smooth;
  color: var(--tertiary);
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--tertiary) !important;
  background-color: transparent;
  cursor: pointer;
}

a:hover {
  color: var(--secondary) !important;
}

.layout-container {
  width: 100%;
}

.header-container {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px;
  height: 64px;
  width: 100%;
  background-color: var(--quaternary) !important;
}

.content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  background-color: #fafafa !important;
}

.footer-container {
  background-color: var(--quaternary) !important;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 5px;
  }
}
