.ant-btn-primary.button-form,
.ant-btn-primary.button-form:hover,
.ant-btn-primary.button-form:focus,
.ant-btn-primary.button-form:active,
.ant-btn-primary.button-form:focus-within,
.ant-btn-primary.button-form:visited,
.ant-btn-primary.button-form::selection {
  height: 4.2rem;
  border-radius: 4px;
  color: var(--quaternary);
  background: var(--primary);
  border-color: var(--primary);
}

.ant-btn-primary.button-form span,
.ant-btn-primary.button-form span:hover,
.ant-btn-primary.button-form span:focus,
.ant-btn-primary.button-form span:active,
.ant-btn-primary.button-form span:focus-within,
.ant-btn-primary.button-form span:visited,
.ant-btn-primary.button-form span::selection {
  border: none;
  background: var(--primary);
}

.customDatePicker {
  width: 100%;
  margin-top: 16px;
}
